@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Noto+Sans:wght@400;700&family=Quicksand:wght@300;400;700&display=swap');

.App{
  background-color: #fffdde;
  height: 100vh;
}
.header{
  padding-top: 17px;
  height: 60px;
  background-color: #2f2f2f;
  text-align: center;
}
.heading{
  font-family: 'Noto Sans', sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #ffcb74;
  margin: 0;
}

